.main{
  display: flex;
  flex-direction: column;
  &__block{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__case{
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-size: 16px;
    padding: 4px;
    flex: 1 1 auto;
    min-height: 28px;
  }
}