.block {
  min-width: 50%;

  &__label{
    display: block;
  }
  &__input {
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px;

  }
}